.sidebar {
    background-color: #d6ffe4;
    width: 200px;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.example-spacer {
    flex: 1 1 auto;
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

